<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Emote Builder</title>
    <meta name="description" content="simple emote builder for markdown-style emotes">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/stylesheet.css">
    <link rel="stylesheet" href="styles/pygment_trac.css">
    <!-- endbuild -->

    <link rel="stylesheet" type="text/css" href="http://backstage.berrytube.tv/marminator/berryemotecore.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body ng-app="emotebuilderApp" ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/jamesmanning/emotebuilder">View on GitHub</a>

        <h1 id="project_title">Emote Builder</h1>

    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

        <div class="row marketing">

                <form ng-submit="importExistingEmoteString()">
                    <label>Import existing emote string (can contain either 1 or 2 emotes):
                        <input type="text" ng-model="existingEmoteString" placeholder="like [](/ajlie)">
                    </label>
                    <input type="submit" value="Import">

                </form>

                <label>Number of emotes:
                    <select ng-model="numberOfEmotes">
                        <option>1</option>
                        <option>2</option>
                    </select></label><br/>

<table>
    <tr>
        <td>
            <h3>Emote #1</h3>
            <label>Emote Name: <input type="text" ng-model="emoteInfo1.emoteName"
                                      placeholder="emote name (bpsign, ajlie, etc)"
                                      ng-change="serializeEmoteInfos()"></label><br/>

            <label ng-if="currentEmoteDataEntry1['em-top']">First line of text: <input type="text"
                                                                                       ng-model="emoteInfo1.firstLineText"
                                                                                       placeholder="first line of text"
                                                                                       ng-change="serializeEmoteInfos()"></label><br/>
            <label ng-if="currentEmoteDataEntry1['strong-bottom']">Second line of text: <input type="text"
                                                                                               ng-model="emoteInfo1.secondLineText"
                                                                                               placeholder="second line of text"
                                                                                               ng-change="serializeEmoteInfos()"></label><br/>
            <label>Regular alt text: <input type="text" ng-model="emoteInfo1.regularAltText"
                                            placeholder="regular alt text"
                                            ng-change="serializeEmoteInfos()"></label><br/>

            <label><input type="checkbox" ng-model="emoteInfo1.vibrate"
                          ng-change="serializeEmoteInfos()">vibrate</label><br/>
            <label><input type="checkbox" ng-model="emoteInfo1.reverse"
                          ng-change="serializeEmoteInfos()">reverse</label><br/>
            <label><input type="checkbox" ng-model="emoteInfo1.brody"
                          ng-change="serializeEmoteInfos()">brody</label><br/>
            <label><input type="checkbox" ng-model="emoteInfo1.slide"
                          ng-change="serializeEmoteInfos()">slide</label>

            <select ng-model="emoteInfo1.speed" ng-options="speed for speed in speedOptions" ng-if="emoteInfo1.slide"
                    ng-change="serializeEmoteInfos()">
                <option value="">-- optional slide speed modifier --</option>
            </select><br/>

            <select ng-model="emoteInfo1.spin" ng-options="spin.emoteFlag as spin.name for spin in spinOptions"
                    ng-change="serializeEmoteInfos()">
                <option value="">-- optional spin --</option>
            </select><br/>
            <select ng-model="emoteInfo1.coloring"
                    ng-options="coloring.emoteFlag as coloring.name for coloring in coloringOptions"
                    ng-change="serializeEmoteInfos()">
                <option value="">-- optional coloring modifier --</option>
            </select><br/>

            <label>rotate (0 to 359): <input type="number"
                                                                    ng-model="emoteInfo1.rotateDegrees"
                                                                    placeholder="rotateDegrees"
                                                                    ng-change="serializeEmoteInfos()"></label><br/>
            <label>x shift (-150 to 150): <input type="number"
                                                                                        ng-model="emoteInfo1.xAxisTranspose"
                                                                                        placeholder="xAxisTranspose"
                                                                                        ng-change="serializeEmoteInfos()"></label><br/>
            <label>z index (0 to 10): <input type="number" ng-model="emoteInfo1.zIndex"
                                                                  placeholder="z index"
                                                                  ng-change="serializeEmoteInfos()"></label><br/>

        </td>
        <td ng-if="numberOfEmotes == 2">
            <h3>Emote #2</h3>
            <label>Emote Name: <input type="text" ng-model="emoteInfo2.emoteName"
                                      placeholder="emote name (bpsign, ajlie, etc)"
                                      ng-change="serializeEmoteInfos()"></label><br/>

            <label ng-if="currentEmoteDataEntry2['em-top']">First line of text: <input type="text"
                                                                                       ng-model="emoteInfo2.firstLineText"
                                                                                       placeholder="first line of text"
                                                                                       ng-change="serializeEmoteInfos()"></label><br/>
            <label ng-if="currentEmoteDataEntry2['strong-bottom']">Second line of text: <input type="text"
                                                                                               ng-model="emoteInfo2.secondLineText"
                                                                                               placeholder="second line of text"
                                                                                               ng-change="serializeEmoteInfos()"></label><br/>
            <label>Regular alt text: <input type="text" ng-model="emoteInfo2.regularAltText"
                                            placeholder="regular alt text"
                                            ng-change="serializeEmoteInfos()"></label><br/>

            <label><input type="checkbox" ng-model="emoteInfo2.vibrate"
                          ng-change="serializeEmoteInfos()">vibrate</label><br/>
            <label><input type="checkbox" ng-model="emoteInfo2.reverse"
                          ng-change="serializeEmoteInfos()">reverse</label><br/>
            <label><input type="checkbox" ng-model="emoteInfo2.brody"
                          ng-change="serializeEmoteInfos()">brody</label><br/>
            <label><input type="checkbox" ng-model="emoteInfo2.slide"
                          ng-change="serializeEmoteInfos()">slide</label>

            <select ng-model="emoteInfo2.speed" ng-options="speed for speed in speedOptions" ng-if="emoteInfo2.slide"
                    ng-change="serializeEmoteInfos()">
                <option value="">-- optional slide speed modifier --</option>
            </select><br/>

            <select ng-model="emoteInfo2.spin" ng-options="spin.emoteFlag as spin.name for spin in spinOptions"
                    ng-change="serializeEmoteInfos()">
                <option value="">-- optional spin --</option>
            </select><br/>
            <select ng-model="emoteInfo2.coloring"
                    ng-options="coloring.emoteFlag as coloring.name for coloring in coloringOptions"
                    ng-change="serializeEmoteInfos()">
                <option value="">-- optional coloring modifier --</option>
            </select><br/>

            <label>rotate (0 to 359): <input type="number"
                                                                    ng-model="emoteInfo2.rotateDegrees"
                                                                    placeholder="rotateDegrees"
                                                                    ng-change="serializeEmoteInfos()"></label><br/>
            <label>x shift (-150 to 150): <input type="number"
                                                                                        ng-model="emoteInfo2.xAxisTranspose"
                                                                                        placeholder="xAxisTranspose"
                                                                                        ng-change="serializeEmoteInfos()"></label><br/>
            <label>z index (0 to 10): <input type="number" ng-model="emoteInfo2.zIndex"
                                                                  placeholder="z index"
                                                                  ng-change="serializeEmoteInfos()"></label><br/>

        </td>
    </tr>
</table>

            <h3>Output</h3>
            <label>Resulting emote (copy this): <input type="text" ng-model="serializedEmotes" readonly size="75"></label>

            <div id="expandedEmotes" style="background-color: white"></div>

            <hr>

                <span style="font-weight: bold">Caveats</span>
            <ul>
                <li>There is currently no code to add animated png support for non-supporting browsers,
                    so to see animated emotes actually animate, you should either use Firefox or Chrome with
                    <a href="https://chrome.google.com/webstore/detail/apng/ehkepjiconegkhpodgoaeamnpckdbblp"
                       target="_blank">the APNG extension</a> installed.
                </li>
                <li>There is currently nothing to disable NSFW emotes, so they show up here as well</li>
                <li>Found a bug or want to report a problem? <a
                        href="https://github.com/jamesmanning/emotebuilder/issues/new">Create a GitHub issue!</a></li>
            </ul>
            </p>

            <h3>Debug info</h3>
            <pre>{{ emoteInfo1 | json }}</pre>
            <pre ng-if="emoteInfo2">{{ emoteInfo2 | json }}</pre>
            <div ng-bind="expandedEmotes"></div>
        </div>
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">Emotebuilder maintained by <a href="https://github.com/jamesmanning">James Manning</a></p>

        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
    </footer>
</div>


<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/emote-expansion.js"></script>
<script src="scripts/app.js"></script>
<!-- endbuild -->

<script>
    var invertScript;
    if (document.body.style.webkitFilter !== undefined) {
        invertScript = document.createElement('script');
        invertScript.type = 'text/javascript';
        invertScript.src = 'http://berrymotes.com/assets/berrymotes.webkit.invert.js';
        document.body.appendChild(invertScript);
    } else {
        invertScript = document.createElement('script');
        invertScript.type = 'text/javascript';
        invertScript.src = 'http://berrymotes.com/assets/berrymotes.invertfilter.js';
        document.body.appendChild(invertScript);
    }
</script>
</body>
</html>
