    <div class="container-fluid theme-showcase" role="main">

<!--<alert dismissOnTimeout="3000" type="info">ng2-bootstrap hello world!</alert>-->


<div class="row">
    <div class="col-md-3">
        <label>Number of emotes:
            <select [(ngModel)]="numberOfEmotes" (ngModelChange)="onNumberOfEmotesChanged()">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </label>
    </div>
    <div class="col-md-9">
        <form (ngSubmit)="importExistingEmoteString()" class="form-horizontal">
            <label>Import existing emote string:
                <input type="text" name="existingEmoteString" [(ngModel)]="existingEmoteString" placeholder="like [](/ajlie)">
            </label>
            <button class='btn btn-primary' type="submit">Import</button>
        </form>
    </div>
</div>

        
<br/>

      <div class="row">
        <div class="col-md-{{12 / numberOfEmotes}}" *ngFor="let emoteObjectEntry of emoteObjects">
            <app-emote-form [emoteMap]="emoteMap" [emoteObject]="emoteObjectEntry" (emoteObjectChanged)="onEmoteObjectChanged($event)"></app-emote-form>
        </div>
      </div>

<h3>Output</h3>

<div class="row">
  <div class="col-sm-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ngIIclipboard [cbContent]="serializedEmotes">copy emote string to clipboard</button>
      </span>
      <input type="text" class="form-control" [ngModel]="serializedEmotes" readonly>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ngIIclipboard [cbContent]="linkForCurrentSettings">copy link for current settings to clipboard</button>
      </span>
      <input type="text" class="form-control" [ngModel]="linkForCurrentSettings" readonly>
    </div>
  </div>
</div>

<br>

    <div id="expandedEmotes" style="background-color: white"></div>

    <div [innerHTML]="expandedEmotes | safe"></div>










