<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

        <router-outlet></router-outlet>

            <hr>

                <span style="font-weight: bold">Caveats</span>
            <ul>
                <li>There is currently no code to add animated png support for non-supporting browsers,
                    so to see animated emotes actually animate, you should <a href="http://caniuse.com/#feat=apng">a browser with native APNG support</a> like Firefox or recent Safari.</li>
                <li>There is currently nothing to disable NSFW emotes, so they show up here as well</li>
                <li>Found a bug or want to report a problem? <a
                        href="https://github.com/jamesmanning/emotebuilder/issues/new">Create a GitHub issue!</a></li>
            </ul>

    </section>
</div>

<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright"><a href="https://github.com/jamesmanning/emotebuilder">Emotebuilder</a> maintained by <a href="https://github.com/jamesmanning">James Manning</a></p>
    </footer>
</div>
