<!-- <h1>
  {{title}}
</h1> -->

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/jamesmanning/emotebuilder">View on GitHub</a>

        <h1 id="project_title">Emote Builder</h1>

    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    {{diagnostic}}
    <section id="main_content" class="inner">

        <div class="row marketing">

                <form ng-submit="importExistingEmoteString()">
                    <label>Import existing emote string (can contain either 1 or 2 emotes):
                        <input type="text" name="existingEmoteString" [(ngModel)]="existingEmoteString" placeholder="like [](/ajlie)">
                    </label>
                    <input type="submit" value="Import">

                </form>

                <label>Number of emotes:
                    <select [(ngModel)]="numberOfEmotes">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </label>
                
                <br/>

                <button  *ngIf="numberOfEmotes == 2" (click)="swapEmotes()">Swap emote 1 and emote 2</button>

<table>
    <tr>
        <td>
            <h3>Emote #1</h3>
            <label>Emote Name: <input type="text" [(ngModel)]="emoteObject1.emoteIdentifier"
                                      placeholder="emote name (bpsign, ajlie, etc)"
                                      ng-change="serializeEmoteObjects()"></label><br/>

            <label *ngIf="currentEmoteDataEntry1 != null && currentEmoteDataEntry1['em-top']">First line of text: <input type="text"
                                                                                       [(ngModel)]="emoteObject1.firstLineText"
                                                                                       placeholder="first line of text"
                                                                                       ng-change="serializeEmoteObjects()"></label><br/>
            <label *ngIf="currentEmoteDataEntry1 != null && currentEmoteDataEntry1['strong-bottom']">Second line of text: <input type="text"
                                                                                               [(ngModel)]="emoteObject1.secondLineText"
                                                                                               placeholder="second line of text"
                                                                                               ng-change="serializeEmoteObjects()"></label><br/>
            <label>Regular alt text: <input type="text" [(ngModel)]="emoteObject1.altText"
                                            placeholder="regular alt text"
                                            ng-change="serializeEmoteObjects()"></label><br/>

            <label><input type="checkbox" [(ngModel)]="emoteObject1.vibrate"
                          ng-change="serializeEmoteObjects()">vibrate</label><br/>
            <label><input type="checkbox" [(ngModel)]="emoteObject1.reverse"
                          ng-change="serializeEmoteObjects()">reverse</label><br/>
            <label><input type="checkbox" [(ngModel)]="emoteObject1.brody"
                          ng-change="serializeEmoteObjects()">brody</label><br/>
            <label><input type="checkbox" [(ngModel)]="emoteObject1.slide"
                          ng-change="serializeEmoteObjects()">slide</label>

            <select [(ngModel)]="emoteObject1.speed" ng-options="speed for speed in speedOptions" *ngIf="emoteObject1.slide"
                    ng-change="serializeEmoteObjects()">
                <option value="">-- optional slide speed modifier --</option>
            </select><br/>

            <select [(ngModel)]="emoteObject1.spin" ng-options="spin.emoteFlag as spin.name for spin in spinOptions"
                    ng-change="serializeEmoteObjects()">
                <option selected value="">-- optional spin --</option>
            </select>
            <br/>
            <label>hue rotate: <input type="checkbox" [(ngModel)]="emoteObject1.hueRotate"></label>
            <label>invert: <input type="checkbox" [(ngModel)]="emoteObject1.invertColors"></label>
            <!--<select [(ngModel)]="emoteObject1.coloring"
                    ng-options="coloring.emoteFlag as coloring.name for coloring in coloringOptions"
                    ng-change="serializeEmoteObjects()">
                <option selected value="">-- optional coloring modifier --</option>
                <option *ngFor="let c of coloringOptions" [ngValue]="c.emoteFlag">{{c.name}}</option>
            </select>-->
            <br/>

            <label>rotate (0 to 359): <input type="number"
                                                                    [(ngModel)]="emoteObject1.rotateDegrees"
                                                                    placeholder="rotateDegrees"
                                                                    ng-change="serializeEmoteObjects()"></label><br/>
            <label>x shift (-150 to 150): <input type="number"
                                                                                        [(ngModel)]="emoteObject1.xAxisTranspose"
                                                                                        placeholder="xAxisTranspose"
                                                                                        ng-change="serializeEmoteObjects()"></label><br/>
            <label>z index (0 to 10): <input type="number" [(ngModel)]="emoteObject1.zIndex"
                                                                  placeholder="z index"
                                                                  ng-change="serializeEmoteObjects()"></label><br/>

        </td>
        <td *ngIf="numberOfEmotes == 2">
            <h3>Emote #2</h3>
            <label>Emote Name: <input type="text" [(ngModel)]="emoteObject2.emoteIdentifier"
                                      placeholder="emote name (bpsign, ajlie, etc)"
                                      ng-change="serializeEmoteObjects()"></label><br/>

            <label *ngIf="currentEmoteDataEntry2 != null && currentEmoteDataEntry2['em-top']">First line of text: <input type="text"
                                                                                       [(ngModel)]="emoteObject2.firstLineText"
                                                                                       placeholder="first line of text"
                                                                                       ng-change="serializeEmoteObjects()"></label><br/>
            <label *ngIf="currentEmoteDataEntry2 != null && currentEmoteDataEntry2['strong-bottom']">Second line of text: <input type="text"
                                                                                               [(ngModel)]="emoteObject2.secondLineText"
                                                                                               placeholder="second line of text"
                                                                                               ng-change="serializeEmoteObjects()"></label><br/>
            <label>Regular alt text: <input type="text" [(ngModel)]="emoteObject2.altText"
                                            placeholder="regular alt text"
                                            ng-change="serializeEmoteObjects()"></label><br/>

            <label><input type="checkbox" [(ngModel)]="emoteObject2.vibrate"
                          ng-change="serializeEmoteObjects()">vibrate</label><br/>
            <label><input type="checkbox" [(ngModel)]="emoteObject2.reverse"
                          ng-change="serializeEmoteObjects()">reverse</label><br/>
            <label><input type="checkbox" [(ngModel)]="emoteObject2.brody"
                          ng-change="serializeEmoteObjects()">brody</label><br/>
            <label><input type="checkbox" [(ngModel)]="emoteObject2.slide"
                          ng-change="serializeEmoteObjects()">slide</label>

            <select [(ngModel)]="emoteObject2.speed" ng-options="speed for speed in speedOptions" *ngIf="emoteObject2.slide"
                    ng-change="serializeEmoteObjects()">
                <option value="">-- optional slide speed modifier --</option>
            </select><br/>

            <select [(ngModel)]="emoteObject2.spin" ng-options="spin.emoteFlag as spin.name for spin in spinOptions"
                    ng-change="serializeEmoteObjects()">
                <option value="">-- optional spin --</option>
            </select>
            <br/>
            <label>hue rotate: <input type="checkbox" [(ngModel)]="emoteObject2.hueRotate"></label>
            <label>invert: <input type="checkbox" [(ngModel)]="emoteObject2.invertColors"></label>
            <!--<select [(ngModel)]="emoteObject2.coloring"
                    ng-options="coloring.emoteFlag as coloring.name for coloring in coloringOptions"
                    ng-change="serializeEmoteObjects()">
                <option value="">-- optional coloring modifier --</option>
            </select>-->
            <br/>

            <label>rotate (0 to 359): <input type="number"
                                                                    [(ngModel)]="emoteObject2.rotateDegrees"
                                                                    placeholder="rotateDegrees"
                                                                    ng-change="serializeEmoteObjects()"></label><br/>
            <label>x shift (-150 to 150): <input type="number"
                                                                                        [(ngModel)]="emoteObject2.xAxisTranspose"
                                                                                        placeholder="xAxisTranspose"
                                                                                        ng-change="serializeEmoteObjects()"></label><br/>
            <label>z index (0 to 10): <input type="number" [(ngModel)]="emoteObject2.zIndex"
                                                                  placeholder="z index"
                                                                  ng-change="serializeEmoteObjects()"></label><br/>

        </td>
    </tr>
</table>

            <h3>Output</h3>
            <label>Resulting emote (copy this): <input type="text" [(ngModel)]="serializedEmotes" readonly size="75"></label>

            <div id="expandedEmotes" style="background-color: white"></div>

            <hr>

                <span style="font-weight: bold">Caveats</span>
            <ul>
                <li>There is currently no code to add animated png support for non-supporting browsers,
                    so to see animated emotes actually animate, you should either use Firefox or Chrome with
                    <a href="https://chrome.google.com/webstore/detail/apng/ehkepjiconegkhpodgoaeamnpckdbblp"
                       target="_blank">the APNG extension</a> installed.
                </li>
                <li>There is currently nothing to disable NSFW emotes, so they show up here as well</li>
                <li>Found a bug or want to report a problem? <a
                        href="https://github.com/jamesmanning/emotebuilder/issues/new">Create a GitHub issue!</a></li>
            </ul>

            <h3>Debug info</h3>
            <pre>{{ emoteObject1 | json }}</pre>
            <pre *ngIf="emoteObject2">{{ emoteObject2 | json }}</pre>
            <div [innerHTML]="expandedEmotes | safe"></div>
        </div>
    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">Emotebuilder maintained by <a href="https://github.com/jamesmanning">James Manning</a></p>

        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
    </footer>
</div>
