<label>Emote Name: <input type="text" 
                          [(ngModel)]="emoteObject.emoteIdentifier"
                          (ngModelChange)="refreshCurrentEmoteDataEntry()"
                          placeholder="emote name (bpsign, ajlie, etc)"></label><br/>

<label *ngIf="currentEmoteDataEntry != null && currentEmoteDataEntry['em-top']">First line of text: <input type="text"
                                                                            [(ngModel)]="emoteObject.firstLineText"
                                                                            placeholder="first line of text"
                                                                            ng-change="serializeEmoteObjects()"></label><br/>
<label *ngIf="currentEmoteDataEntry != null && currentEmoteDataEntry['strong-bottom']">Second line of text: <input type="text"
                                                                                    [(ngModel)]="emoteObject.secondLineText"
                                                                                    placeholder="second line of text"
                                                                                    ng-change="serializeEmoteObjects()"></label><br/>
<label>Regular alt text: <input type="text" [(ngModel)]="emoteObject.altText"
                                placeholder="regular alt text"
                                ng-change="serializeEmoteObjects()"></label><br/>

<label><input type="checkbox" [(ngModel)]="emoteObject.vibrate"
              ng-change="serializeEmoteObjects()">vibrate</label><br/>
<label><input type="checkbox" [(ngModel)]="emoteObject.reverse"
              ng-change="serializeEmoteObjects()">reverse</label><br/>
<label><input type="checkbox" [(ngModel)]="emoteObject.brody"
              ng-change="serializeEmoteObjects()">brody</label><br/>
<label><input type="checkbox" [(ngModel)]="emoteObject.slide"
              ng-change="serializeEmoteObjects()">slide</label>

<select [(ngModel)]="emoteObject.speed" ng-options="speed for speed in speedOptions" *ngIf="emoteObject.slide"
        ng-change="serializeEmoteObjects()">
    <option value="">-- optional slide speed modifier --</option>
</select><br/>

<select [(ngModel)]="emoteObject.spin" ng-options="spin.emoteFlag as spin.name for spin in spinOptions"
        ng-change="serializeEmoteObjects()">
    <option selected value="">-- optional spin --</option>
</select>
<br/>
<label>hue rotate: <input type="checkbox" [(ngModel)]="emoteObject.hueRotate"></label>
<label>invert: <input type="checkbox" [(ngModel)]="emoteObject.invertColors"></label>
<!--<select [(ngModel)]="emoteObject.coloring"
        ng-options="coloring.emoteFlag as coloring.name for coloring in coloringOptions"
        ng-change="serializeEmoteObjects()">
    <option selected value="">-- optional coloring modifier --</option>
    <option *ngFor="let c of coloringOptions" [ngValue]="c.emoteFlag">{{c.name}}</option>
</select>-->
<br/>

<label>rotate (0 to 359): <input type="number"
                                                        [(ngModel)]="emoteObject.rotateDegrees"
                                                        placeholder="rotateDegrees"
                                                        ng-change="serializeEmoteObjects()"></label><br/>
<label>x shift (-150 to 150): <input type="number"
                                                                            [(ngModel)]="emoteObject.xAxisTranspose"
                                                                            placeholder="xAxisTranspose"
                                                                            ng-change="serializeEmoteObjects()"></label><br/>
<label>z index (0 to 10): <input type="number" [(ngModel)]="emoteObject.zIndex"
                                                      placeholder="z index"
                                                      ng-change="serializeEmoteObjects()"></label><br/>

