<label>
    Emote Name: 
    <input 
        type="text"
        [(ngModel)]="emoteObject.emoteIdentifier"
        (ngModelChange)="onEmoteIdentifierChanged()"
        placeholder="emote name (bpsign, ajlie, etc)">
</label>
<br/>

<label *ngIf="currentEmoteDataEntry != null && currentEmoteDataEntry['em-top']">
    First line of text: 
    <input 
        type="text"
        [(ngModel)]="emoteObject.firstLineText"
        (ngModelChange)="emitEmoteObjectChanged()"
        placeholder="first line of text">
</label>
<br/>

<label *ngIf="currentEmoteDataEntry != null && currentEmoteDataEntry['strong-bottom']">
    Second line of text: 
    <input 
        type="text"
        [(ngModel)]="emoteObject.secondLineText"
        (ngModelChange)="emitEmoteObjectChanged()"
        placeholder="second line of text">
</label>
<br/>

<label>
    Regular alt text: 
    <input
        type="text" 
        [(ngModel)]="emoteObject.altText"
        (ngModelChange)="emitEmoteObjectChanged()"
        placeholder="regular alt text">
</label>
<br/>

<label>
    <input
        type="checkbox" 
        [(ngModel)]="emoteObject.vibrate"
        (ngModelChange)="emitEmoteObjectChanged()">
    vibrate
</label>
<br/>

<label>
    <input 
        type="checkbox" 
        [(ngModel)]="emoteObject.reverse"
        (ngModelChange)="emitEmoteObjectChanged()">
    reverse
</label>
<br/>

<label>
    <input 
        type="checkbox" 
        [(ngModel)]="emoteObject.brody"
        (ngModelChange)="emitEmoteObjectChanged()">
    brody
</label>
<br/>

<label>
    <input 
        type="checkbox" 
        [(ngModel)]="emoteObject.slide"
        (ngModelChange)="emitEmoteObjectChanged()">
    slide
</label>

<select 
    [(ngModel)]="emoteObject.speed" 
    (ngModelChange)="emitEmoteObjectChanged()"
    *ngIf="emoteObject.slide">
        <option value="">-- optional slide speed modifier --</option>
        <option *ngFor="let speed of speedOptions" [ngValue]="speed">{{speed}}</option>
</select>
<br/>

<select 
    [(ngModel)]="emoteObject.spin" 
    (ngModelChange)="emitEmoteObjectChanged()"
    ng-options="spin.emoteFlag as spin.name for spin in spinOptions">
        <option selected value="">-- optional spin --</option>
        <option *ngFor="let spin of spinOptions" [ngValue]="spin.emoteFlag">{{spin.name}}</option>
</select>
<br/>

<label>
    hue rotate: 
    <input 
        type="checkbox" 
        [(ngModel)]="emoteObject.hueRotate"
        (ngModelChange)="emitEmoteObjectChanged()">
</label>

<label>
    invert: 
    <input 
        type="checkbox" 
        [(ngModel)]="emoteObject.invertColors"
        (ngModelChange)="emitEmoteObjectChanged()">
</label>
<br/>

<label>rotate (0 to 359): 
    <input 
        type="number"
        [(ngModel)]="emoteObject.rotateDegrees"
        placeholder="degrees to rotate">
</label>
<br/>

<label>x shift (-150 to 150): 
    <input 
        type="number"
        [(ngModel)]="emoteObject.xAxisTranspose"
        placeholder="x axis shift">
</label>
<br/>

<label>z index (0 to 10): 
    <input 
        type="number" 
        [(ngModel)]="emoteObject.zAxisTranspose"
        placeholder="z index">
</label>
<br/>
